/* .main{
    display: flex;
    grid-template: repeat(2, 1fr)/100%;
    column-gap: 2px;
} */

.Cards{
    display: grid;
    width: 10rem;
    height: 10rem;
    border: 0.5px solid black;
    margin: 90px;
    margin-right: 25px;
    /* justify-content: center; */
    float: left;
    border-radius: 5px;
    /* white-space: 1; */

}
h3{
    font-size: 30px;
}
.header{
    display: flex;
    justify-content: space-around;
}
img{
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
}
h1{
    text-align: center;
    /* color: red; */
}
.header{
    background-color: rgb(80, 80, 238);
}
.link{
    text-align: center;
}
button{
    color: white;
    background-color: black;
}